$white: #fff;

$brown-dark: #442d06;

$main-brown: #583b0d;

$brown-light: #865b13;

$creamy-brown: #b08031;

$main-orange: #eec165;

$orange-light: #fcc366;

$creamy-orange: #ffdba1;

$main-red: #9f2e13;

$main-green: #5BC0A2;

$main-gray: #333333;

$black: #000;

